.Info {
    font-family: Arial;
    font-weight: 100;
    font-size: 30px;
    background-color: rgb(83, 146, 197);
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

